GRID_SERVER_ADDRESS=localhost:50051
SENSOR_NODE_ID=PMU-001
SENSOR_POINTS_PER_SECOND=2000

SQLSERVER_HOST=localhost
SQLSERVER_DATABASE=GridDB
SQLSERVER_USERNAME=
SQLSERVER_PASSWORD=
SQLSERVER_TRUST_SERVER_CERTIFICATE=yes